<body>
<div class="main">
    <div class="userForm">
        <h1>Museum Add</h1>
        <form action="" method="post">
            <p>Name</p>
            <input name="mname">
            <p>Street</p>
            <input name="street">
            <input type="submit">
        </form>
    </div>
</div>
</body>